Repository CQCL/guppylang: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-check, rust-linting, rust-clippy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            .*\.json|
            .*\.err|
            tests/.*|
            .*CHANGELOG.md|
            \.github/.*|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            .*\.json|
            .*\.err|
            tests/.*|
            .*CHANGELOG.md|
            \.github/.*|
            .release-please-manifest.json
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: https://github.com/crate-ci/typos
    rev: typos-dict-v0.12.6
    hooks:
      - id: typos
        args: []

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: uv run ruff format guppylang
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: uv run ruff check --fix --exit-non-zero-on-fix guppylang
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: uv run mypy guppylang
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-check
        name: Cargo check
        entry: bash -c 'cd validator && exec cargo check'
        pass_filenames: false
        types: [file, rust]
        language: system
      - id: rust-linting
        name: Rust linting
        entry: bash -c 'cd validator && exec cargo fmt --all --'
        pass_filenames: true
        types: [file, rust]
        language: system
      - id: rust-clippy
        name: Rust clippy
        entry: bash -c 'cd validator && exec cargo clippy --all-targets --all-features -- -Dclippy::all'
        pass_filenames: false
        types: [file, rust]
        language: system

Adjust comment
  guppylang/definition/pytket_circuits.py
Due: ruff-format, ruff-check, mypy-check

Make use_arrays kwarg only
  guppylang/decorator.py
  tests/integration/test_pytket_circuits.py
Due: ruff-format, ruff-check, mypy-check

Add optional argument to load_pytket
  guppylang/decorator.py
  tests/integration/test_pytket_circuits.py
Due: ruff-format, ruff-check, mypy-check

docs: Fix API docs build (#843)
  guppylang/decorator.py
Due: ruff-format, ruff-check, mypy-check

feat!: Allow array arguments to `load_pytket` (#858)
  guppylang/checker/errors/py_errors.py
  guppylang/decorator.py
  guppylang/definition/pytket_circuits.py
  tests/error/py_errors/sig_mismatch.err
  tests/integration/test_pytket_circuits.py
Due: ruff-format, ruff-check, mypy-check

chore(main): release 0.17.0
  .release-please-manifest.json
  CHANGELOG.md
  guppylang/__init__.py
  pyproject.toml
Due: ruff-format, ruff-check, mypy-check

uv sync
  uv.lock
Due: none

chore: Update uv.lock on release PRs
  release-please-config.json
Due: none

chore(main): release 0.17.0 (#812)
  .release-please-manifest.json
  CHANGELOG.md
  guppylang/__init__.py
  pyproject.toml
  uv.lock
Due: ruff-format, ruff-check, mypy-check

ci: Update uv.lock on release-please PRs (#870)
  release-please-config.json
Due: none

chore: bump devenv
  devenv.lock
  devenv.nix
Due: none

tweaks to make things work
  Cargo.lock
  Cargo.toml
  devenv.nix
  execute_llvm/Cargo.toml
  execute_llvm/src/lib.rs
Due: cargo-check, rust-linting, rust-clippy

Stop check from complaining about typo in commit hash
  .typos.toml
Due: none

Move tket2 extension loading and make bool_type_def opaque
  guppylang/module.py
  guppylang/std/_internal/compiler/quantum.py
  guppylang/std/_internal/compiler/tket2_exts.py
  guppylang/std/qsystem/__init__.py
  guppylang/std/qsystem/utils.py
  guppylang/tys/builtin.py
  tests/integration/test_side_effect_ordering.py
Due: ruff-format, ruff-check, mypy-check

refactor: rename hresult.py to qsys_result.py
  guppylang/qsys_result.py
Due: ruff-format, ruff-check, mypy-check

refactor: deprecate and rename
  guppylang/hresult.py
  guppylang/qsys_result.py
  tests/test_hresult.py
Due: ruff-format, ruff-check, mypy-check

rename test file
  tests/test_qsys_result.py
Due: ruff-format, ruff-check, mypy-check

lint fixes
  guppylang/qsys_result.py
  tests/test_qsys_result.py
Due: ruff-format, ruff-check, mypy-check

review suggestions + mypy
  guppylang/qsys_result.py
Due: ruff-format, ruff-check, mypy-check

refactor: rename HResult->QsysShot HShots->QSysResult (#872)
  guppylang/hresult.py
  guppylang/qsys_result.py
  tests/test_qsys_result.py
Due: ruff-format, ruff-check, mypy-check

add required libraries on mac
  devenv.nix
Due: none

chore: bump devenv (#871)
  Cargo.lock
  Cargo.toml
  devenv.lock
  devenv.nix
  execute_llvm/Cargo.toml
  execute_llvm/src/lib.rs
Due: cargo-check, rust-linting, rust-clippy

fix deprecation warning
  execute_llvm/src/lib.rs
Due: cargo-check, rust-linting, rust-clippy

lower to exit op
  Cargo.lock
  Cargo.toml
  guppylang/compiler/expr_compiler.py
  guppylang/std/_internal/compiler/prelude.py
  pyproject.toml
  tests/integration/test_panic.py
  tests/integration/test_side_effect_ordering.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check

format
  guppylang/std/_internal/checker.py
Due: ruff-format, ruff-check, mypy-check

feat: add exit function that stops a shot
  guppylang/compiler/core.py
  guppylang/std/_internal/checker.py
  tests/integration/test_panic.py
  tests/integration/test_side_effect_ordering.py
Due: ruff-format, ruff-check, mypy-check

feat: add `exit` function for exiting shots
  guppylang/compiler/expr_compiler.py
  guppylang/nodes.py
  guppylang/std/_internal/checker.py
  guppylang/std/builtins.py
Due: ruff-format, ruff-check, mypy-check

pin to released hugr
  Cargo.lock
  Cargo.toml
  pyproject.toml
  uv.lock
Due: none

feat: add exit function that stops a shot (#874)
  Cargo.lock
  Cargo.toml
  execute_llvm/src/lib.rs
  guppylang/compiler/core.py
  guppylang/compiler/expr_compiler.py
  guppylang/nodes.py
  guppylang/std/_internal/checker.py
  guppylang/std/_internal/compiler/prelude.py
  guppylang/std/builtins.py
  pyproject.toml
  tests/integration/test_panic.py
  tests/integration/test_side_effect_ordering.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, cargo-check, rust-linting, rust-clippy

fix!: remove random_nat and maybe_rng
  guppylang/std/qsystem/random.py
  tests/integration/test_qsystem.py
Due: ruff-format, ruff-check, mypy-check

docs: add wrappers to provide docstrings
  guppylang/std/qsystem/random.py
Due: ruff-format, ruff-check, mypy-check

chore: minor bump hugr
  Cargo.lock
  Cargo.toml
  pyproject.toml
  uv.lock
Due: none

chore: minor bump hugr (#876)
  Cargo.lock
  Cargo.toml
  pyproject.toml
  uv.lock
Due: none

fix(qsystem)!: remove `random_nat` and `maybe_rng` (#873)
  guppylang/std/qsystem/random.py
  tests/integration/test_qsystem.py
Due: ruff-format, ruff-check, mypy-check

chore(main): release 0.18.0
  .release-please-manifest.json
  CHANGELOG.md
  guppylang/__init__.py
  pyproject.toml
  uv.lock
Due: ruff-format, ruff-check, mypy-check

ci: Bump patch version in 0.x.y packages
  release-please-config.json
Due: none

ci: Bump patch version in 0.x.y packages (#877)
  release-please-config.json
Due: none

Fix GuppyModule.unregister
  guppylang/module.py
Due: ruff-format, ruff-check, mypy-check

docs: add supported range to `exit` docstring
  guppylang/std/builtins.py
Due: ruff-format, ruff-check, mypy-check

docs: add supported range to `exit` docstring (#878)
  guppylang/std/builtins.py
Due: ruff-format, ruff-check, mypy-check
