Repository CQCL/guppylang: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-check, rust-linting, rust-clippy

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: uv run ruff format guppylang
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: uv run ruff check --fix --exit-non-zero-on-fix guppylang
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: uv run mypy guppylang
  language: system
  pass_filenames: false

cargo-check:
  name: Cargo check
  entry: bash -c 'cd validator && exec cargo check'
  pass_filenames: false
  language: system

rust-linting:
  name: Rust linting
  entry: bash -c 'cd validator && exec cargo fmt --all --'
  pass_filenames: true
  language: system

rust-clippy:
  name: Rust clippy
  entry: bash -c 'cd validator && exec cargo clippy --all-targets --all-features -- -Dclippy::all'
  pass_filenames: false
  language: system

devenv 1.4.1 re-lock
  devenv.lock
Due: none

use hugr rs release
  Cargo.lock
  Cargo.toml
  execute_llvm/src/lib.rs
  tests/integration/conftest.py
Due: ruff-format, ruff-check, mypy-check, cargo-check, rust-linting, rust-clippy

pin to hugr release
  pyproject.toml
  uv.lock
Due: none

remove skipped/broken tests
  tests/integration/conftest.py
  tests/integration/test_tket.py
  tests/util.py
Due: ruff-format, ruff-check, mypy-check

add todo to benchmark
  tests/benchmarks/test_big_array.py
Due: ruff-format, ruff-check, mypy-check

clean up utils and use bytes in execute
  execute_llvm/src/lib.rs
  tests/util.py
Due: ruff-format, ruff-check, mypy-check, cargo-check, rust-linting, rust-clippy

pin to tket2 releases
  pyproject.toml
  uv.lock
Due: none

chore: update uv on CI
  .github/workflows/docs.yml
  .github/workflows/pull-request.yaml
  DEVELOPMENT.md
  justfile
Due: none

Update execute_llvm/src/lib.rs
  execute_llvm/src/lib.rs
Due: cargo-check, rust-linting, rust-clippy

fix: remove dead test from CI
  .github/workflows/pull-request.yaml
Due: none

chore: update to hugr 0.11.1 (#866)
  .github/workflows/docs.yml
  .github/workflows/pull-request.yaml
  Cargo.lock
  Cargo.toml
  DEVELOPMENT.md
  devenv.lock
  devenv.nix
  execute_llvm/src/lib.rs
  justfile
  pyproject.toml
  tests/benchmarks/test_big_array.py
  tests/integration/conftest.py
  tests/integration/test_tket.py
  tests/util.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, cargo-check, rust-linting, rust-clippy

fix: Prevent reordering of operations with side-effects
  guppylang/compiler/core.py
  tests/integration/test_side_effect_ordering.py
Due: ruff-format, ruff-check, mypy-check

fix: Prevent reordering of operations with side-effects (#855)
  guppylang/compiler/core.py
  tests/integration/test_side_effect_ordering.py
Due: ruff-format, ruff-check, mypy-check

[wip] barriers
  guppylang/std/_internal/checker.py
  guppylang/std/_internal/compiler/prelude.py
  guppylang/std/builtins.py
  tests/integration/test_quantum.py
Due: ruff-format, ruff-check, mypy-check

add graphviz to devenv
  devenv.nix
Due: none

get barriers working
  guppylang/compiler/expr_compiler.py
  tests/integration/test_quantum.py
Due: ruff-format, ruff-check, mypy-check

refactor: reuse function call logic for barrier
  guppylang/checker/linearity_checker.py
  guppylang/compiler/expr_compiler.py
  guppylang/nodes.py
  guppylang/std/_internal/checker.py
  tests/integration/test_quantum.py
Due: ruff-format, ruff-check, mypy-check

Add linearity check
  guppylang/checker/linearity_checker.py
Due: ruff-format, ruff-check, mypy-check

custom expression for barrier
  guppylang/compiler/expr_compiler.py
  guppylang/nodes.py
  guppylang/std/_internal/checker.py
  guppylang/std/builtins.py
Due: ruff-format, ruff-check, mypy-check

fixes
  guppylang/compiler/expr_compiler.py
  guppylang/std/_internal/checker.py
Due: ruff-format, ruff-check, mypy-check

fix call
  guppylang/compiler/expr_compiler.py
Due: ruff-format, ruff-check, mypy-check

lval leak test
  tests/error/misc_errors/barrier_drop_lval.err
  tests/error/misc_errors/barrier_drop_lval.py
Due: ruff-format, ruff-check, mypy-check

move tests
  tests/error/inout_errors/barrier_drop.err
  tests/error/inout_errors/barrier_drop.py
  tests/error/inout_errors/barrier_drop_lval.err
  tests/error/inout_errors/barrier_drop_lval.py
  tests/error/inout_errors/barrier_linearity.err
  tests/error/inout_errors/barrier_linearity.py
Due: ruff-format, ruff-check, mypy-check

barrier drop error
  tests/error/misc_errors/barrier_drop.err
  tests/error/misc_errors/barrier_drop.py
Due: ruff-format, ruff-check, mypy-check

Apply suggestions from code review
  guppylang/compiler/expr_compiler.py
  guppylang/std/_internal/checker.py
Due: ruff-format, ruff-check, mypy-check

format
  guppylang/compiler/expr_compiler.py
  guppylang/nodes.py
Due: ruff-format, ruff-check, mypy-check

remove unnecessary check method
  guppylang/std/_internal/checker.py
Due: ruff-format, ruff-check, mypy-check

double use error
  tests/error/misc_errors/barrier_linearity.err
  tests/error/misc_errors/barrier_linearity.py
Due: ruff-format, ruff-check, mypy-check

feat: add barrier operation to builtins (#849)
  devenv.nix
  guppylang/checker/linearity_checker.py
  guppylang/compiler/expr_compiler.py
  guppylang/nodes.py
  guppylang/std/_internal/checker.py
  guppylang/std/_internal/compiler/prelude.py
  guppylang/std/builtins.py
  tests/error/inout_errors/barrier_drop.err
  tests/error/inout_errors/barrier_drop.py
  tests/error/inout_errors/barrier_drop_lval.err
  tests/error/inout_errors/barrier_drop_lval.py
  tests/error/inout_errors/barrier_linearity.err
  tests/error/inout_errors/barrier_linearity.py
  tests/integration/test_quantum.py
Due: ruff-format, ruff-check, mypy-check

Improve sig mismatch error
  guppylang/checker/errors/py_errors.py
  guppylang/definition/pytket_circuits.py
  tests/error/py_errors/sig_mismatch.err
Due: ruff-format, ruff-check, mypy-check

Add test cases
  tests/integration/test_pytket_circuits.py
Due: ruff-format, ruff-check, mypy-check

Add registers to circuit signature construction
  guppylang/definition/pytket_circuits.py
  tests/integration/test_pytket_circuits.py
Due: ruff-format, ruff-check, mypy-check

Implement compilation (doesn't work due to qubit type)
  guppylang/definition/pytket_circuits.py
  guppylang/std/_internal/compiler/prelude.py
  tests/integration/test_pytket_circuits.py
Due: ruff-format, ruff-check, mypy-check

Change to load_pytket_with_arrays method and continue implementation
  guppylang/decorator.py
  guppylang/definition/pytket_circuits.py
  tests/integration/test_pytket_circuits.py
Due: ruff-format, ruff-check, mypy-check

Add test case
  tests/integration/test_pytket_circuits.py
Due: ruff-format, ruff-check, mypy-check

Refactor decorator definition
  guppylang/decorator.py
  output.txt
Due: ruff-format, ruff-check, mypy-check

Remove debug output
  output.txt
Due: none

Fix array packing and unpacking
  guppylang/definition/pytket_circuits.py
  guppylang/std/_internal/compiler/prelude.py
  output.txt
  tests/integration/test_pytket_circuits.py
Due: ruff-format, ruff-check, mypy-check

Small fixes
  guppylang/definition/pytket_circuits.py
Due: ruff-format, ruff-check, mypy-check

Uncomment error throw
  guppylang/definition/pytket_circuits.py
Due: ruff-format, ruff-check, mypy-check

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-check: any of: \.rs$
  rust-linting: any of: \.rs$
  rust-clippy: any of: \.rs$
