Repository CQCL/guppylang: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-check, rust-linting, rust-clippy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            .*\.json|
            .*\.err|
            tests/.*|
            .*CHANGELOG.md|
            \.github/.*|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            .*\.json|
            .*\.err|
            tests/.*|
            .*CHANGELOG.md|
            \.github/.*|
            .release-please-manifest.json
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: https://github.com/crate-ci/typos
    rev: typos-dict-v0.12.6
    hooks:
      - id: typos
        args: []

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: uv run ruff format guppylang
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: uv run ruff check --fix --exit-non-zero-on-fix guppylang
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: uv run mypy guppylang
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-check
        name: Cargo check
        entry: bash -c 'cd validator && exec cargo check'
        pass_filenames: false
        types: [file, rust]
        language: system
      - id: rust-linting
        name: Rust linting
        entry: bash -c 'cd validator && exec cargo fmt --all --'
        pass_filenames: true
        types: [file, rust]
        language: system
      - id: rust-clippy
        name: Rust clippy
        entry: bash -c 'cd validator && exec cargo clippy --all-targets --all-features -- -Dclippy::all'
        pass_filenames: false
        types: [file, rust]
        language: system

Add compile_non_monomorphized_args helper function
  guppylang/compiler/core.py
  guppylang/definition/custom.py
  guppylang/definition/function.py
Due: ruff-format, ruff-check, mypy-check

Add missing backticks
  guppylang/checker/errors/wasm.py
  tests/error/misc_errors/wasm_func_without_module.err
Due: ruff-format, ruff-check, mypy-check

Remove redundant assert
  guppylang/std/_internal/compiler/wasm.py
Due: ruff-format, ruff-check, mypy-check

Refactor to get rid of `CompilerContext._compile`
  guppylang/compiler/core.py
Due: ruff-format, ruff-check, mypy-check

Common up de Bruijn shifting logic
  guppylang/compiler/core.py
Due: ruff-format, ruff-check, mypy-check

refactor: use array op for unpacking
  Cargo.lock
  Cargo.toml
  guppylang/std/_internal/compiler/array.py
  pyproject.toml
  uv.lock
Due: ruff-format, ruff-check, mypy-check

feat: add qsystem op for measure leaked
  guppylang/compiler/qtm_platform_extension.py
  guppylang/std/qsystem/__init__.py
  pyproject.toml
  tests/integration/test_qsystem.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check

fix: ruff format
  guppylang/std/qsystem/__init__.py
Due: ruff-format, ruff-check, mypy-check

Undo uv.lock changes
  uv.lock
Due: none

Remove redundant check + error
  guppylang/checker/errors/wasm.py
  guppylang/definition/wasm.py
Due: ruff-format, ruff-check, mypy-check

feat: Declare WASM modules in guppy (#942)
  examples/random_walk_qpe.py
  guppylang/checker/errors/wasm.py
  guppylang/decorator.py
  guppylang/definition/custom.py
  guppylang/definition/wasm.py
  guppylang/std/_internal/checker.py
  guppylang/std/_internal/compiler/tket2_exts.py
  guppylang/std/_internal/compiler/wasm.py
  guppylang/std/qsystem/wasm.py
  guppylang/tys/builtin.py
  pyproject.toml
  tests/error/misc_errors/wasm_bad_output_type.err
  tests/error/misc_errors/wasm_bad_output_type.py
  tests/error/misc_errors/wasm_bad_type.err
  tests/error/misc_errors/wasm_bad_type.py
  tests/error/misc_errors/wasm_func_without_module.err
  tests/error/misc_errors/wasm_func_without_module.py
  tests/integration/conftest.py
  tests/integration/test_wasm.py
Due: ruff-format, ruff-check, mypy-check

fix: test return int
  tests/integration/test_qsystem.py
Due: ruff-format, ruff-check, mypy-check

docs: Improve RNG docs (#1043)
  guppylang/std/qsystem/random.py
Due: ruff-format, ruff-check, mypy-check

chore(main): release 0.20.1
  .release-please-manifest.json
  CHANGELOG.md
  guppylang/__init__.py
  pyproject.toml
  uv.lock
Due: ruff-format, ruff-check, mypy-check

chore: use python abi for execute build
  execute_llvm/Cargo.toml
Due: none

feat: set hugr entrypoint to compiled function
  execute_llvm/src/lib.rs
  guppylang/engine.py
  tests/integration/conftest.py
Due: ruff-format, ruff-check, mypy-check, cargo-check, rust-linting, rust-clippy

fix: Fix nested functions in Python 3.12
  guppylang/cfg/builder.py
Due: ruff-format, ruff-check, mypy-check

ci: Check Python 3.12 in CI
  .github/workflows/pull-request.yaml
Due: none

assert only one module in _run_fn
  tests/integration/conftest.py
Due: ruff-format, ruff-check, mypy-check

add todo
  execute_llvm/src/lib.rs
Due: cargo-check, rust-linting, rust-clippy

feat: set hugr entrypoint to compiled function (#1063)
  execute_llvm/Cargo.toml
  execute_llvm/src/lib.rs
  guppylang/engine.py
  tests/integration/conftest.py
Due: ruff-format, ruff-check, mypy-check, cargo-check, rust-linting, rust-clippy

fix!: Turn capturing closures into experimental feature
  guppylang/checker/func_checker.py
  guppylang/experimental.py
  tests/error/experimental_errors/capturing_closure.err
  tests/error/experimental_errors/capturing_closure.py
  tests/integration/notebooks/demo.ipynb
Due: ruff-format, ruff-check, mypy-check

fix: Fix nested function definitions in Python 3.12 (#1064)
  .github/workflows/pull-request.yaml
  guppylang/cfg/builder.py
Due: ruff-format, ruff-check, mypy-check

fix!: Turn capturing closures into experimental feature (#1065)
  guppylang/checker/func_checker.py
  guppylang/experimental.py
  tests/error/experimental_errors/capturing_closure.err
  tests/error/experimental_errors/capturing_closure.py
  tests/integration/notebooks/demo.ipynb
Due: ruff-format, ruff-check, mypy-check

fix: Allow array comprehension syntax in comptime functions
  guppylang/std/array.py
  tests/integration/tracing/test_array.py
Due: ruff-format, ruff-check, mypy-check

fix: Allow array comprehension syntax in comptime functions (#1068)
  guppylang/std/array.py
  tests/integration/tracing/test_array.py
Due: ruff-format, ruff-check, mypy-check

update ZZPhase
  guppylang/std/qsystem/__init__.py
Due: ruff-format, ruff-check, mypy-check

add module docstring for qsystem.functional
  guppylang/std/qsystem/functional.py
Due: ruff-format, ruff-check, mypy-check

add a bunch of gate defs to std.quantum
  guppylang/std/quantum/__init__.py
Due: ruff-format, ruff-check, mypy-check

more definitions
  guppylang/std/quantum/__init__.py
Due: ruff-format, ruff-check, mypy-check

small addition
  guppylang/std/qsystem/__init__.py
Due: ruff-format, ruff-check, mypy-check

add docstrings for functional modules
  guppylang/std/qsystem/functional.py
  guppylang/std/quantum/functional.py
Due: ruff-format, ruff-check, mypy-check

update uv.lock with recent tket2-exts changes
  uv.lock
Due: none

fix ch syntax
  guppylang/std/quantum/__init__.py
Due: ruff-format, ruff-check, mypy-check

feat: Add `Future` type
  guppylang/std/_internal/compiler/futures.py
  guppylang/std/futures.py
  tests/integration/std/test_futures.py
Due: ruff-format, ruff-check, mypy-check

tweak qsystem test
  tests/integration/test_qsystem.py
Due: ruff-format, ruff-check, mypy-check

chore: bump to hugr py 0.12.4
  pyproject.toml
  uv.lock
Due: none

wip MaybeLeaked
  guppylang/std/qsystem/__init__.py
  tests/integration/test_qsystem.py
Due: ruff-format, ruff-check, mypy-check

add @guppy
  guppylang/std/qsystem/__init__.py
Due: ruff-format, ruff-check, mypy-check
